<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  
</head>
<body>
    <div>
        <h1>Minerwerte:</h1>
        <div id="miner23">
            <h2>Miner 23</h2>
            <p><%= miners.miner23.Volt %></p>
            <p><%= miners.miner23.Leistung %></p>
        </div>
        <div id="miner24">
            <h2>Miner 24</h2>
            <p><%= miners.miner24.Volt %></p>
            <p><%= miners.miner24.Leistung %></p>
        </div>
        <div id="miner25">
            <h2>Miner 25</h2>
            <p><%= miners.miner25.Volt %></p>
            <p><%= miners.miner25.Leistung %></p>
        </div>  
        <div id="miner26">
            <h2>Miner 26</h2>
            <p><%= miners.miner26.Volt %></p>
            <p><%= miners.miner26.Leistung %></p>
        </div>
        <div id="miner27">
            <h2>Miner 27</h2>
            <p><%= miners.miner27.Volt %></p>
            <p><%= miners.miner27.Leistung %></p>
        </div>
    </div>
</body>
</html>